<div class='row justify-content-center'>
	<div class='col-md-4'>
		<div class='card shadow'>
			<div class='card-body'>
				<h3 class='card-title text-center mb-4'>Forgot password</h3>

				<form action='/auth/send-otp' method='post'>
					<div class='form-floating mb-3'>
						<input
							type='email'
							class='form-control'
							id='email'
							placeholder='enter email'
							name='email'
						/>
						<label for='email'>Email</label>
					</div>
					<button type='submit' class='btn btn-success w-100'>Send OTP</button>

				</form>
			</div>
		</div>
	</div>
</div>