<div class='row justify-content-center'>
	<div class='col-md-4'>
		<div class='card shadow'>
			<div class='card-body'>
				<h3 class='card-title text-center mb-4'>Login</h3>

				<form action='/auth/login' method='post'>
					<div class='form-floating mb-3'>
						<input
							type='email'
							class='form-control'
							id='email'
							placeholder='enter email'
							name='email'
						/>
						<label for='email'>Email</label>
					</div>
					<div class='form-floating mb-3'>
						<input
							type='password'
							class='form-control'
							id='password'
							placeholder='enter password'
							name='password'
						/>
						<label for='password'>Password</label>
					</div>
					<button type='submit' class='btn btn-success w-100'>Sign in</button>

					<div class="text-center mt-2">
						<smal>Don't have a accaunt? <a href="/auth/register">Create one</a></small>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>