<div class='row justify-content-center'>
	<div class='col-md-4'>
		<div class='card shadow'>
			<div class='card-body'>
				<h3 class='card-title text-center mb-4'>Reset password</h3>

				<form action='/auth/reset-password' method='post'>
					<div class='form-floating'>
						<input
							type='password'
							class='form-control'
							id='password'
							placeholder='enter password'
							name='password'
						/>
						<label for='password'>Enter new password</label>
					</div>

					<div class='form-floating'>
						<input
							type='password'
							class='form-control'
							id='confirmPassword'
							placeholder='enter confirmPassword'
							name='confirmPassword'
						/>
						<label for='confirmPassword'>Confirm password</label>
					</div>

					<button type='submit' class='btn btn-success w-100'>Reset password</button>

				</form>
			</div>
		</div>
	</div>
</div>