<div class='row justify-content-center'>
	<div class='col-md-4'>
		<div class='card shadow'>
			<div class='card-body'>
				<h3 class='card-title text-center mb-4'>Verify OTP</h3>

				<form action='/auth/verify-otp' method='post'>
					<div class='form-floating mb-3'>
						<input
							type='text'
							class='form-control'
							id='otp'
							placeholder='enter otp'
							name='otp'
							maxlength='6'
						/>
						<label for='otp'>OTP</label>
					</div>
					<button type='submit' class='btn btn-success w-100'>Verify OTP</button>

				</form>
			</div>
		</div>
	</div>
</div>