<div class='row justify-content-center'>
	<div class='col-md-7 col-lg-6'>
		<div class='card shadow border-0'>
			<div class='card-body p-4 text-center'>
				{{#if succes}}
					<div class='display-6 mb-3'> Email Verified Successfully</div>
					<p class='mb-4'> {{message}} </p>
					<a href='/auth/login' class='btn btn-primary w-100 mb-2'>Go to Login</a>
				{{else}}
					<div class='display-6 mb-3'> Email Verified Failed</div>
					<p class='lead mb-4'> {{message}} </p>
					<a href='/' class='btn btn-outline-secondary w-100 mb-2'>Home</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>